#*
 * This file is part of Maven Deployit plugin.
 *
 * Maven Deployit plugin is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Maven Deployit plugin is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Maven Deployit plugin.  If not, see <http://www.gnu.org/licenses/>.
 *#

 ------
 Test Deployment Configuration
 ------
 Benoit Moussaud
 ------
 28 June 2010
 ------

Include configuration files to the deployment

 Fill in the mapping with the target directory.

------
<plugins>
    ....
        <plugin>
        <groupId>com.xebialabs.deployit</groupId>
        <artifactId>maven-deployit-plugin</artifactId>
        <version>${project.version}</version>
        <executions>
            <execution>
                <id>deployit-plugin-test</id>
                <phase>pre-integration-test</phase>
                <goals>
                    <goal>deploy</goal>
                </goals>
            </execution>
        </executions>
        <configuration>
            
            <environment>
                <ConfigurationItem>
                    <type>Host</type>
                    <label>APBIVM02-VM06</label>
                    <address>ip-address</address>
                    <username>username</username>
                    <password>password</password>
                    <operatingSystemFamily>UNIX</operatingSystemFamily>
                    <accessMethod>SSH_SCP</accessMethod>
                </ConfigurationItem>
                
                <ConfigurationItem>
                    <type>JbossasServer</type>
                    <label>AS02-VM06-JBOSS5</label>
                    <host>APBIVM02-VM06</host>
                    <version>JBOSSAS_50</version>
                    <home>/usr/local/bin/jboss-5.1.0.GA/</home>
                    <name>autotest</name>
                </ConfigurationItem>
            </environment>

			<deployableArtifacts>
				<DeployableArtifactItem>
					<type>ConfigurationFiles</type>
					<location>package/resources.dir</location>
				</DeployableArtifactItem>
			</deployableArtifacts>

			<mappings>
				<MappingItem>
					<type>ConfigurationFilesMapping</type>
					<source>ConfigurationFiles/package/resources.dir</source>
					<target>APBIVM02-VM06</target>
					<keyvaluepairs>[[key=database.connection.url value=a][key=database.driver.class value=b]]</keyvaluepairs>
					<targetdirectory>/data/autotest</targetdirectory>
				</MappingItem>
			</mappings>

        </configuration>
        <dependencies>
            <dependency>
                <groupId>com.xebialabs.deployit</groupId>
                <artifactId>jbossas-plugin</artifactId>
                <version>1.3-SNAPSHOT</version>
            </dependency>
        </dependencies>
        </plugin>

    ...
</plugins>
------



