 ------
 Generate Manifest based deployment package
 ------
 Benoit Moussaud
 ------
 30 April 2010
 ------

Generate Manifest based deployment package

 Create a Manifest based deployment package in the target directory.

------
<plugins>
    ....
    <plugin>
        <groupId>com.xebialabs.deployit</groupId>
        <artifactId>maven-deployit-plugin</artifactId>
        <executions>
            <execution>
                <id>deploy-id</id>
                <phase>pre-integration-test</phase>
                <goals>
                    <goal>deploy</goal>
                </goals>
            </execution>
        </executions>
        <configuration>
            <useImportablePackage>true</useImportablePackage>
            <environment>
                <ConfigurationItem type="Host">
                    <label>Tomcat Host</label>
                    <address>ubuntu-tomcat.mydomain.net</address>
                    <username>tomcat</username>
                    <password>12345678</password>
                    <operatingSystemFamily>UNIX</operatingSystemFamily>
                    <accessMethod>SSH_SCP</accessMethod>
                </ConfigurationItem>
                <ConfigurationItem type="TomcatServer">
                    <label>Tomcat server</label>
                    <host>Tomcat Host</host>
                    <name>tomcattest</name>
                    <port>8080</port>
                    <accessMethod>http</accessMethod>
                    <tomcatHome>/opt/apache-tomcat-6.0.26</tomcatHome>
                    <startCommand>/opt/apache-tomcat-6.0.26/bin/catalina.sh start</startCommand>
                    <stopCommand>/opt/apache-tomcat-6.0.26/bin/catalina.sh stop</stopCommand>
                </ConfigurationItem>
            </environment>
        </configuration>
        <dependencies>
            <dependency>
                <groupId>com.xebialabs.deployit</groupId>
                <artifactId>tomcat-plugin</artifactId>
                <version>1.3</version>
            </dependency>
        </dependencies>
    </plugin>
    ...
</plugins>
------



