#*
 * This file is part of Maven Deployit plugin.
 *
 * Maven Deployit plugin is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Maven Deployit plugin is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Maven Deployit plugin.  If not, see <http://www.gnu.org/licenses/>.
 *#

 ------
 Simple deployment
 ------
 Benoit Moussaud
 ------
 30 April 2010
 ------

Simple deployment

 Show how to deploy the current artifact (ear or war) to a single Tomcat Server running on a remote host.
   
------
<plugin>
    <groupId>com.xebialabs.deployit</groupId>
    <artifactId>maven-deployit-plugin</artifactId>
    <version>${project.version}</version>
    <executions>
        <execution>
            <id>deploy-id</id>
            <phase>pre-integration-test</phase>
            <goals>
                <goal>deploy</goal>
            </goals>
        </execution>
    </executions>
    <configuration>
        <environment>
            <ConfigurationItem>
                    <type>Host</type>
                    <label>Tomcat Host</label>
                    <address>ubuntu-tomcat.mydomain.net</address>
                    <username>tomcat</username>
                    <password>12345678</password>
                    <operatingSystemFamily>UNIX</operatingSystemFamily>
                    <accessMethod>SSH_SCP</accessMethod>
                </ConfigurationItem>
                <ConfigurationItem>
                    <type>TomcatServer</type>
                    <label>Tomcat server</label>
                    <host>Tomcat Host</host>
                    <name>tomcattest</name>
                    <port>8080</port>
                    <accessMethod>http</accessMethod>
                    <tomcatHome>/opt/apache-tomcat-6.0.26</tomcatHome>
                    <startCommand>/opt/apache-tomcat-6.0.26/bin/catalina.sh start</startCommand>
                    <stopCommand>/opt/apache-tomcat-6.0.26/bin/catalina.sh stop</stopCommand>
                </ConfigurationItem>
        </environment>
    </configuration>
    <dependencies>
        <dependency>
            <groupId>com.xebialabs.deployit</groupId>
            <artifactId>tomcat-plugin</artifactId>
            <version>1.3</version>
        </dependency>
    </dependencies>
</plugin>

------



